<header>
    <a href="/home"><img src="/images/icon_fill_b_x2.png" class="logo"></a>
    <nav class="nav-container">
        <a href="/home" class="menu diary">감사 일기</a>
        <a href="/fdiary/create" class="menu diary">미래 편지</a>
        <a href="/diary/getDiaryDates"><h3 class="menu name"><%=name%></h3></a>
        <a href="/auth/logout" class="menu logout">로그아웃</a>
    </nav>
</header>
