<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>홈</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="/images/logo.png" class="logo">
            <nav class="nav-container">
                <a href="/diary/create" class="menu diary">감사 일기</a>
                <a href="/diary/show"><h3 class="menu name"><%=name%></h3></a>
                <a href="/auth/logout" class="menu logout">로그아웃</a>
            </nav>
        </header>
    </div>
</body>
</html>
