<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="join.css">
    <title>회원가입</title>
</head>
<body>
    <div class="container">
        <form action="/join_process" method="post" class="join_form">
            <input tyoe="text" name="name" placeholder="이름" required class="join nickname">
            <input type="email" name="email" placeholder="이메일" required class="join email">
            <input type="password" name="password" placeholder="비밀번호" required class="join pw">
            <input type="submit" value="회원가입" class="join_btn">
        </form>
    </div>
</body>
</html>