<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <link href='/css/cal.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script>
      var calendar;

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        //이걸 현재 month는 안나와서 (<, > 버튼 클릭시에만 diary가 나오게 함)
        // var date = calendar.getDate();
        // var month = date.getMonth()+1;
        // getDates(month);
        
        calendar = new FullCalendar.Calendar(calendarEl, {
          selectable: true,
          initialView: 'dayGridMonth',
          headerToolbar: {
            start: "",
            center: "prev title next",
            end: "today",
          },
          
          titleFormat: function (date) {
            return `${date.date.year}년 ${date.date.month + 1}월`;
          },
          contentHeight: 800,
          dayHeaderContent: function (date) {
            let weekList = ["일", "월", "화", "수", "목", "금", "토"];
            return weekList[date.dow];
          },
          dateClick: function(dateClickInfo) {
            const gray="#a3a3a3";

            if(dateClickInfo.dayEl.style.backgroundColor) {
              dateClickInfo.dayEl.style.backgroundColor = "";
            }else {
              dateClickInfo.dayEl.style.backgroundColor = gray;
            }
          },
          customButtons:{
            prev:{
              text:'<',
              click:function() {
                calendar.prev();
                var date = calendar.getDate();
                var month = date.getMonth() + 1;
                getDates(month);
              }
            },
            next:{
              text:'>',
              click:function() {
                calendar.next();
                var date = calendar.getDate();
                var month = date.getMonth() + 1;
                getDates(month);
              }
            }
          },
          eventClick:function(info){
            console.log(info.event._def);
            //publicId
            //extendedProps.created
            location.href = "/diary/getDiaries?=";  //여기서 show_detail로 result를 보내야하는데...
            //diary/getDiaries로 created 어떻게 보낼건지도
          }
          
        });

        
      
        calendar.render();

      });
      

      window.onload = function () {
        $(window).trigger('DOMContentLoaded');
        getDates(new Date().getMonth()+1);
      }
      
      //계속 추가가됨 ㅠㅠ
      function getDates(month) {
          alert(month);
          $.ajax({
            type : 'POST',
            dataType : 'json',
            url : '/diary/getCalDates',
            data : {month : month},
            success : function(jsons){
              // console.log(jsons.datas);
              for(var i=0; i<jsons.datas.length; i++){
                calendar.addEvent({
                  // title:jsons.datas[i].description1,
                  title:'감사일기 확인',
                  id:jsons.datas[i].idx,
                  created:moment(jsons.datas[i].created).format('YYYY-MM-DD'),
                  start:moment(jsons.datas[i].created).format('YYYY-MM-DD'),
                  allDay: true,
                  color:'green',
                  end:moment(jsons.datas[i].created).format('YYYY-MM-DD')
                });
              }
            },
          });
        }

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>