<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <link href='/css/cal.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            start: "",
            center: "prev title next",
            end: "today",
          },
          titleFormat: function (date) {
            return `${date.date.year}년 ${date.date.month + 1}월`;
          },
          contentHeight: 800,
          dayHeaderContent: function (date) {
            let weekList = ["일", "월", "화", "수", "목", "금", "토"];
            return weekList[date.dow];
          },
          dateClick: function(dateClickInfo) {
            const gray="#a3a3a3";

            if(dateClickInfo.dayEl.style.backgroundColor) {
              dateClickInfo.dayEl.style.backgroundColor = "";
            }else {
              dateClickInfo.dayEl.style.backgroundColor = gray;
            }
          },
          customButtons:{
            prev:{
              text:'<',
              click:function() {
                calendar.prev();
                var date = calendar.getDate();
                var month = date.getMonth()+1;
                getDates(month);
              }
            },
            next:{
              text:'>',
              click:function() {
                calendar.next();
                var date = calendar.getDate();
                var month = date.getMonth()+1;
                getDates(month);
              }
            }
          },

          // viewSkeletonRender: function(info) {
          //   calendarEl.querySelectorAll('.fc-button').forEach((button) => {
          //     if(button.innerText === '<') {
          //       button.classList.add('prev-btn');
          //     }else if(button.innerText === '>') {
          //       button.classList.add('next-btn');
          //     }
          //   })
          // }
        });
       
        calendar.render();

        // document.getElementById('prev').addEventListener('click', function() {
        //   calendar.prev();
        //   var date = calendar.getDate();
        //   getDates(date);
        // });

        // document.getElementById('next').addEventListener('click', function() {
        //   calendar.next();
        //   var date = calendar.getDate();
        //   getDates(date);
        // });

      });
      
      function getDates(month) {
        // alert(date);
        $.ajax({
          type : 'POST',
          dataType : 'json',
          url : '/diary/getCalDates',
          data : {month : month},
          success : createEvents(data),
        });
      }

      function createEvents(data){
        // var res = JSON.parse(ajax.getResponse ());
        // console.log(res.datas);
        // console.log(datas);
        var data = {'datas' : data};
        data = JSON.stringify(data);

        console.log(data);
      }

      
    </script>
  </head>
  <body>
    <p>
      <!-- <button id='prev'>prev</button>
      <button id='next'>next</button> -->
    </p>
    <div id='calendar'></div>
  </body>
</html>