<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <link href='/css/cal.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
            start: "",
            center: "prev title next",
            end: "today",
          },
          titleFormat: function (date) {
            return `${date.date.year}년 ${date.date.month + 1}월`;
          },
          contentHeight: 800,
          dayHeaderContent: function (date) {
            let weekList = ["일", "월", "화", "수", "목", "금", "토"];
            return weekList[date.dow];
          },
          dateClick: function(dateClickInfo) {
            const gray="#a3a3a3";

            if(dateClickInfo.dayEl.style.backgroundColor) {
              dateClickInfo.dayEl.style.backgroundColor = "";
            }else {
              dateClickInfo.dayEl.style.backgroundColor = gray;
            }
          },
          // eventContent: {
          //   html: `<div><img src="/images/star.png" class="event-icon" />some html</div>`,
          // },
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>