.container{
    display: flex;
    flex-direction: column;
}

span{
    font-size: 25px;
    font-weight: bold;
}

.show-word{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:black;
    margin-top:40px;
}

