.logo{
    width:100px;
    height:100px;
    margin:20px;
}

.nav-container{
    display:flex;
    width:200px;
    position: absolute;
    right:10%;
    top:5%;
    justify-content: space-between;
}

.nav-container h3{
    margin:0;
}

a{
    text-decoration: none;
    color:black;
}