.logo{
    width:100px;
    height:100px;
    margin:20px;
}

.nav-container{
    display:flex;
    position: absolute;
    right:10%;
    top:5%;
    justify-content: space-between;
}
.nav-container .menu{
    margin:0;
    padding:20px;
}

.nav-container .diary{
    padding-right:180px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:black;
}
