@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width:100%;
    margin:0;
}

body{
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.container{
    position:relative;
}

.container .one{
    margin-top:110px;
    margin-left:350px;
    background-image:url('/images/thxEx_textBg01.png');
    background-repeat: no-repeat;
    width:560px;
    height:420px;
    background-size: contain;
    position:relative;
}

.container .second{
    background-image:url('/images/thxEx_textBg02.png');
    background-repeat: no-repeat;
    width:600px;
    height:80px;
    position:relative;
    top:110px;
    left: 985px;
}

.container .thrid{
    margin-top:110px;
    margin-left:350px;
    background-image:url('/images/thxEx_textBg01.png');
    background-repeat: no-repeat;
    width:560px;
    height:420px;
    background-size: contain;
    position:relative;
}

span{
    position:absolute;
    top:80px;
    left:80px;
    font-size: 30px;
    color:#85755F;
    font-weight: bold;
}

.one-ol{
    position:absolute;
    top:80px;
    line-height: 40px;
    padding:0;
    left:100px;
    margin:0;
    margin-top:60px;
}

.one-img{
    width:100px;
    height:100px;
    position:absolute;
    left:-25px;
    bottom:-15px;
}

.second-img{
    width:60px;
    height:60px;
    position:absolute;
    bottom:-20px;
    left:70px;
}

h4{
    text-align: center;
}

.third-ul{
    list-style-type: disc;
}