.show-con{
    list-style-type: none;
    background-color:beige;
    display: inline-block;
    padding:50px;
    margin:30px;
    border-radius: 70px;
}

.show-con .created{
    margin-top:-8px;
    margin-bottom:10px;
    font-size:20px;
}

.show-con .tome{
    margin-top:20px;
    font-size:20px;
    font-weight: bold;
}