.show-con{
    list-style-type: none;
    background-color:beige;
    display: inline-block;
    flex-direction: row;
    padding:50px;
    margin:30px;
    border-radius: 70px;
}


.show-con .tome{
    margin-top:10px;
    font-size: 20px;
    font-weight: bold;
}