form{
    position: relative;
    display: inline-block;
    margin:30px;
}

.show-con{
    list-style-type: none;
    background-color:beige;
    display: inline-block;
    flex-direction: row;
    padding:50px;
    border-radius: 70px;
}

.show-con h2{
    margin:0;
}

.show-con .created{
    font-size:20px;
    text-align: center;
}

.show-submit{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    cursor: pointer;
}
